:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #888;
    --primary-color:#e34444;
    --heading-color:#333;
    --gray-color: #ccc;
    --gray-light:#666;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.p-relative {
    position: relative;
}


/* Modal layout */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}